.type {
	position:relative;
	top:-2px;
	padding: 0px 2px;
	color: #ddd;
}
.type:after {
	content: '■';
}

.Scene {
	color: #ccccff;
}

.Object3D {
	color: #aaaaee;
}

.Mesh {
	color: #8888ee;
}

/* */

.PointLight {
	color: #dddd00;
}

/* */

.Geometry {
	color: #88ff88;
}

.CubeGeometry {
	color: #bbeebb;
}
.TorusGeometry {
	color: #aaeeaa;	
}

/* */

.Material {
	color: #ff8888;
}

.MeshPhongMaterial {
	color: #ffaa88;
}

.ProgressBar {
  color: #0053a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 1.8em;
  border: 1px solid #0063a6;
  background: #0063a6;
    
}
progress::-webkit-progress-bar { background: #fff; }